//Font Weights

$Fw-regular: 400;
$Fw-medium: 500;
$Fw-semiBold: 600;
$Fw-bold: 700;
$Fw-extraBold: 800;

//Font Family

$Ff-primary: 'Poppins', sans-serif;

//Colors

$Clr-red: hsl(0, 78%, 62%);
$Clr-cyan: hsl(180, 62%, 55%);
$Clr-orange: hsl(34, 97%, 64%);
$Clr-blue: hsl(212, 86%, 64%);
$Clr-veryDarkBlue: hsl(234, 12%, 34%);
$Clr-grayishBlue: hsl(229, 6%, 66%);
$Clr-veryLightGray: hsl(0, 0%, 98%);
